In [1]:
import numpy as np
import pandas as pd

In [2]:
df_data = pd.read_csv('./ds263_tx_All_Data_1805_2015_0803_191837.CSV')

/home/meantao/anaconda3/envs/ai/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3146: DtypeWarning: Columns (25,27,28,29,31,33,35,37,39) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [3]:
df_data

,Row,Sample Name,Transaction Id,Anon Student Id,Session Id,Time,Time Zone,Duration (sec),Student Response Type,Student Response Subtype,...,KC (Math +default),KC Category (Math +default),KC (Single-KC),KC Category (Single-KC),KC (Unique-step),KC Category (Unique-step),School,Class,CF (parse),CF (score)
0,1,All Data,7e07b4691bf23eada1d7382e4af922a1,Stu_11eed491c49d08923078a99c3689faa6,D8FF7-Sep19-00-28-13,2008/9/19 0:28,US/Eastern,0,DELETION,DELETION,...,NaN,NaN,NaN,NaN,NaN,NaN,USNA,SP211 General Physics I,NaN,NaN
1,2,All Data,5ba4964e4477cc7dee6c79c0198ea86c,Stu_11eed491c49d08923078a99c3689faa6,D8FF7-Sep19-00-28-13,2008/9/19 0:28,US/Eastern,17.5,ATTEMPT,Axes,...,NO-MATH-DRAW-COMPO-FORM-AXES,NaN,Single-KC,NaN,KC525,NaN,USNA,SP211 General Physics I,NaN,27.0
2,3,All Data,5d1e9ad650600f542eb6a45871e6ccc9,Stu_11eed491c49d08923078a99c3689faa6,D8FF7-Sep19-00-28-13,2008/9/19 0:28,US/Eastern,17.5,DELETION,DELETION,...,NaN,NaN,NaN,NaN,NaN,NaN,USNA,SP211 General Physics I,NaN,NaN
3,4,All Data,919dcd83ba236b13c12041e153f91dac,Stu_11eed491c49d08923078a99c3689faa6,D8FF7-Sep19-00-28-13,2008/9/19 0:30,US/Eastern,74,HINT_REQUEST,NextStepHelp,...,NO-MATH-DRAW-VELOCITY-STRAIGHT,NaN,Single-KC,NaN,KC1280,NaN,USNA,SP211 General Physics I,NaN,NaN
4,5,All Data,2648f371d54c1ea313f4fcb70774fc2f,Stu_11eed491c49d08923078a99c3689faa6,D8FF7-Sep21-20-17-34,2008/9/21 20:17,US/Eastern,0.5,DELETION,DELETION,...,NaN,NaN,NaN,NaN,NaN,NaN,USNA,SP211 General Physics I,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
175262,175263,All Data,2f5a40e030bd3db182dc2679f5c30af6,Stu_ff13c22bdf5c4eb4fa87e03fe5d782ad,D7A1F-Dec04-23-19-19,2008/12/4 23:20,US/Eastern,13,ATTEMPT,Variable,...,NO-MATH-DEFINE-INTENSITY,NaN,Single-KC,NaN,KC390,NaN,USNA,SP211 General Physics I,NaN,NaN
175263,175264,All Data,0eed5358f0e79c1ab970ee21c65810a1,Stu_ff13c22bdf5c4eb4fa87e03fe5d782ad,D7A1F-Dec04-23-19-19,2008/12/4 23:20,US/Eastern,2,ATTEMPT,Equation,...,USES-MATH-WRITE-SPHERICAL-INTENSITY-TO-POWER,NaN,Single-KC,NaN,KC485,NaN,USNA,SP211 General Physics I,(= |power_SPEAKER_1| (* (* (* 4 $P) (^ |r_LIST...,46.0
175264,175265,All Data,4b883b4881252c9ea3d9e19f056cc6c0,Stu_ff13c22bdf5c4eb4fa87e03fe5d782ad,D7A1F-Dec04-23-19-19,2008/12/4 23:21,US/Eastern,18,ATTEMPT,Equation,...,USES-MATH-WRITE-INTENSITY-TO-DECIBELS,NaN,Single-KC,NaN,KC973,NaN,USNA,SP211 General Physics I,(= |dbint_LISTENER_SPEAKER_1| (* 10 (LOG10 (/ ...,68.0
175265,175266,All Data,9f3ed86912254a843f63fb8630ccf9e8,Stu_ff13c22bdf5c4eb4fa87e03fe5d782ad,D7A1F-Dec04-23-19-19,2008/12/4 23:21,US/Eastern,3,CALC_REQUEST,Solve,...,NaN,NaN,Single-KC,NaN,KC42,NaN,USNA,SP211 General Physics I,NaN,NaN
175266,175267,All Data,1926083f64d7654c3bd7e1986ca2a7c7,Stu_ff13c22bdf5c4eb4fa87e03fe5d782ad,D7A1F-Dec04-23-19-19,2008/12/4 23:21,US/Eastern,7,ATTEMPT,Answer,...,NaN,NaN,Single-KC,NaN,KC324,NaN,USNA,SP211 General Physics I,NaN,99.0

In [4]:
# 先将需要的数据提取出来
df_temp = pd.DataFrame(df_data.loc[:, ['Anon Student Id', 'Student Response Subtype', 'Duration (sec)', 'Outcome']])
df_temp

,Anon Student Id,Student Response Subtype,Duration (sec),Outcome
0,Stu_11eed491c49d08923078a99c3689faa6,DELETION,0,NaN
1,Stu_11eed491c49d08923078a99c3689faa6,Axes,17.5,CORRECT
2,Stu_11eed491c49d08923078a99c3689faa6,DELETION,17.5,NaN
3,Stu_11eed491c49d08923078a99c3689faa6,NextStepHelp,74,HINT
4,Stu_11eed491c49d08923078a99c3689faa6,DELETION,0.5,NaN
...,...,...,...,...
175262,Stu_ff13c22bdf5c4eb4fa87e03fe5d782ad,Variable,13,CORRECT
175263,Stu_ff13c22bdf5c4eb4fa87e03fe5d782ad,Equation,2,CORRECT
175264,Stu_ff13c22bdf5c4eb4fa87e03fe5d782ad,Equation,18,CORRECT
175265,Stu_ff13c22bdf5c4eb4fa87e03fe5d782ad,Solve,3,CORRECT
175266,Stu_ff13c22bdf5c4eb4fa87e03fe5d782ad,Answer,7,CORRECT

In [8]:
# 01.26 直接提取所有的行为数据。
df_all_temp = df_temp
# 去掉Student Response Subtype项为空的行
df_all_temp = df_all_temp.dropna(axis = 0, subset = ['Student Response Subtype'])
df_all_temp.to_csv('初步处理data_全部.csv', encoding = 'utf8')
df_all_temp

,Anon Student Id,Student Response Subtype,Duration (sec),Outcome
0,Stu_11eed491c49d08923078a99c3689faa6,DELETION,0,NaN
1,Stu_11eed491c49d08923078a99c3689faa6,Axes,17.5,CORRECT
2,Stu_11eed491c49d08923078a99c3689faa6,DELETION,17.5,NaN
3,Stu_11eed491c49d08923078a99c3689faa6,NextStepHelp,74,HINT
4,Stu_11eed491c49d08923078a99c3689faa6,DELETION,0.5,NaN
...,...,...,...,...
175262,Stu_ff13c22bdf5c4eb4fa87e03fe5d782ad,Variable,13,CORRECT
175263,Stu_ff13c22bdf5c4eb4fa87e03fe5d782ad,Equation,2,CORRECT
175264,Stu_ff13c22bdf5c4eb4fa87e03fe5d782ad,Equation,18,CORRECT
175265,Stu_ff13c22bdf5c4eb4fa87e03fe5d782ad,Solve,3,CORRECT
175266,Stu_ff13c22bdf5c4eb4fa87e03fe5d782ad,Answer,7,CORRECT

In [7]:
# 01.26日，删除Choose-Sought,补充Vector, Solve行(这两个已经解决)
df_0126_temp = df_temp[df_temp['Student Response Subtype'].isin(['Axes', 'Vector', 'Variable', 'Equation', 'Choose-Principle', 'Answer', 'Whats-Wrong', 'Solve', 'Explain-Further', 'NextStepHelp'])]
# 去掉Student Response Subtype项为空的行
df_0126_temp = df_0126_temp.dropna(axis = 0, subset = ['Student Response Subtype'])
df_0126_temp.to_csv('初步处理data_0126.csv', encoding = 'utf8')
df_0126_temp

,Anon Student Id,Student Response Subtype,Duration (sec),Outcome
1,Stu_11eed491c49d08923078a99c3689faa6,Axes,17.5,CORRECT
3,Stu_11eed491c49d08923078a99c3689faa6,NextStepHelp,74,HINT
6,Stu_11eed491c49d08923078a99c3689faa6,NextStepHelp,57,HINT
7,Stu_11eed491c49d08923078a99c3689faa6,Explain-Further,4,HINT
9,Stu_11eed491c49d08923078a99c3689faa6,Axes,21.5,INCORRECT
...,...,...,...,...
175262,Stu_ff13c22bdf5c4eb4fa87e03fe5d782ad,Variable,13,CORRECT
175263,Stu_ff13c22bdf5c4eb4fa87e03fe5d782ad,Equation,2,CORRECT
175264,Stu_ff13c22bdf5c4eb4fa87e03fe5d782ad,Equation,18,CORRECT
175265,Stu_ff13c22bdf5c4eb4fa87e03fe5d782ad,Solve,3,CORRECT
175266,Stu_ff13c22bdf5c4eb4fa87e03fe5d782ad,Answer,7,CORRECT

In [6]:
# 01.23日，修改dropna为指定行，解决学生反应子类型“Solve”丢失的问题
df_0123_temp = df_temp[df_temp['Student Response Subtype'].isin(['Axes', 'Vector', 'Variable', 'Equation', 'Choose-Principle', 'Answer', 'Whats-Wrong', 'Solve', 'Explain-Further', 'NextStepHelp', 'Choose-Sought'])]
# 去掉Student Response Subtype项为空的行
df_0123_temp = df_0123_temp.dropna(axis = 0, subset = ['Student Response Subtype'])
df_0123_temp.to_csv('初步处理data_0123.csv', encoding = 'utf8')
df_0123_temp

,Anon Student Id,Student Response Subtype,Duration (sec),Outcome
1,Stu_11eed491c49d08923078a99c3689faa6,Axes,17.5,CORRECT
3,Stu_11eed491c49d08923078a99c3689faa6,NextStepHelp,74,HINT
6,Stu_11eed491c49d08923078a99c3689faa6,NextStepHelp,57,HINT
7,Stu_11eed491c49d08923078a99c3689faa6,Explain-Further,4,HINT
9,Stu_11eed491c49d08923078a99c3689faa6,Axes,21.5,INCORRECT
...,...,...,...,...
175262,Stu_ff13c22bdf5c4eb4fa87e03fe5d782ad,Variable,13,CORRECT
175263,Stu_ff13c22bdf5c4eb4fa87e03fe5d782ad,Equation,2,CORRECT
175264,Stu_ff13c22bdf5c4eb4fa87e03fe5d782ad,Equation,18,CORRECT
175265,Stu_ff13c22bdf5c4eb4fa87e03fe5d782ad,Solve,3,CORRECT
175266,Stu_ff13c22bdf5c4eb4fa87e03fe5d782ad,Answer,7,CORRECT